apiVersion: "sparkoperator.k8s.io/v1beta2"
kind: SparkApplication
metadata:
  name: it-job-streaming-app
  namespace: default
spec:
  type: Python
  pythonVersion: "3"
  mode: cluster
  image: "it-jobs-spark:v1" 
  imagePullPolicy: Never     # Sử dụng image local trong Minikube
  mainApplicationFile: "local:///app/src/processing/streaming_job.py"
  sparkVersion: "3.5.0"
  restartPolicy:
    type: OnFailure
    onFailureRetries: 3     
  
  deps:
    packages:
      - "org.apache.spark:spark-sql-kafka-0-10_2.12:3.5.0"
      - "org.elasticsearch:elasticsearch-spark-30_2.12:8.5.1"
      - "org.apache.hadoop:hadoop-aws:3.3.4"
      - "org.apache.spark:spark-hadoop-cloud_2.12:3.5.0"
  
  # Cấu hình tài nguyên Driver
  driver:
    cores: 1
    memory: "512m"
    serviceAccount: my-release-spark
    env:
      - name: PYSPARK_PYTHON
        value: /usr/bin/python3
  
  # Cấu hình tài nguyên Executor
  executor:
    cores: 1
    instances: 1
    memory: "512m"